body {
    background-image: linear-gradient(90deg, rgb(204, 253, 197), rgb(255, 255, 255));
}

header {
    display: flex;
    justify-content: center;
}

img {
    margin-top: 40px;
    max-width: 400px;
    max-height: 250px;
    margin-bottom: 30px;
    background-color: white;
    padding: 18px;
}

.materias-professores {
    display: flex;
    justify-content: center;
}

li {
    font-family: arial;
    padding: 5px;
    border-bottom: 1px solid black;
    list-style: none;
    border-radius: 6px;
    box-shadow: 3px 2px 0px 1px teal;
    margin-bottom: 3px;
}

li, a {
    text-decoration: none;
    color: black;
}

td {
    border: 1px solid black;
    padding: 8px;
}

.tabela-aulas-horarios {
    display: flex;
    justify-content: center;
}

thead, th {
    border: 1px solid black;
    background-color: white;
    padding: 4px;
}

table {
    background-color: white;
}

.professor-george-01 {
    background-color: rgb(128, 128, 250);
}

.professor-george-02 {
    background-color: rgb(114, 241, 146);
}

.professor-ricardo {
    background-color: rgb(255, 255, 117);
}

.professor-dornelles {
    background-color: rgb(250, 162, 162);
}

.professora-nadia {
    background-color: rgb(231, 144, 82);
}

.professor-rogrigo {
    background-color: aqua;
}